{% extends "base.html" %}

{% block title %}Coleta de IPS{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/coleta.css') }}">
{% endblock %}

{% block content %}

<div class="container_clps">
    <h1>Coleta de IPS</h1>

    {% if status == "desativado" %}
        <span class="status_offline">Status: Desativado</span>
        <a href="{{ url_for('alterar_coleta_ips') }}" class="teste">Ativar</a>
    {% else %}
        <span class="status_online">Status: Ativado</span>
        <a href="{{ url_for('alterar_coleta_ips') }}" class="teste">Desativar</a>
    {% endif %}
</div>

<div class="container_clps">
    <h2>Histórico</h2>
    <table>
        <tr>
            <th>Hora</th>
            <th>Nível</th>
            <th>Mensagem</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log.hora }}</td>
            <td>{{ log.nivel }}</td>
            <td>{{ log.mensagem }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>
{% endblock %}
