<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Coleta de IPs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container_clps">
    <h1>Coleta de IPS</h1>

    {% if status == "desativado" %}
        <span class="status_offline">Status: Desativado</span>
        <a href="{{ url_for('alterar_coleta_ips') }}" class="teste">Ativar</a>
    {% else %}
        <span class="status_online">Status: Ativado</span>
        <a href="{{ url_for('alterar_coleta_ips') }}" class="teste">Desativar</a>
    {% endif %}
</div>

<div class="container_clps">
    <h2>Histórico</h2>
    <table>
        <tr>
            <th>Hora</th>
            <th>Nível</th>
            <th>Mensagem</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log.hora }}</td>
            <td>{{ log.nivel }}</td>
            <td>{{ log.mensagem }}</td>
        </tr>
        {% endfor %}
    </table>
</div>



<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
