{% extends "base.html" %}

{% block title %}CLPs Detectados{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
<h1>CLPs Detectados</h1>
<p>Valor atual: {{ valor }}</p>
<form method="POST" action="/alterar">
    <input class="input_p_pagina" type="number" name="novo_valor" placeholder="CLPs por página" min="1">
    <button class="botao_alterar" type="submit">Alterar</button>
</form>
<div class="container_clps">
    {% for clp in clps %}
        <div class="divs_clp">
            <a href="/clp/{{ clp.ip }}">
                <img src="{{ url_for('static', filename='imgs/clp_imagem.png') }}" alt="Erro">
                <p>{{ clp.ip }}</p>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>
{% endblock %}
