<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Logs do CLP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/logs.css') }}">
</head>
<body>
   <div id="mySidenav" class="sidenav">
        <a href="#">Home</a>
        <a href="/coletaIps">Coleta IPs</a>
        <a href="#">Contact</a>
        <a href="/logs">Logs</a>

    </div>

    <div class="content_logs">
    <h1>Logs do CLP</h1>
    <table>
        <tr>
            <th>Hora</th>
            <th>Nível</th>
            <th>Mensagem</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log.hora }}</td>
            <td>{{ log.nivel }}</td>
            <td>{{ log.mensagem }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


<script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>
</body>
</html>
