<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Logs do CLP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div id="mySidenav" class="sidenav">
        <a href="#">Home</a>
        <a href="/coletaIps">Coleta IPs</a>
        <a href="#">Contact</a>
        <a href="/logs">Logs</a>

    </div>

    <div class="content">
        <h1>Logs do CLP</h1>
        <table>
            {% for log in logs %}
            <tr>
                <td>{{ log.hora }}</td>
                <td>{{ log.mensagem }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
